[mencoder GUI]
post_command = 
tvwidth = 
noskip = False
lame_audiobitrate = 128
frequency = 0.0
duration = 
pre_command = 
audiocodec = lavc
outputfile = ./capture_{%channel_%Y%m%d_%H%M%S}.avi
channel = 22
extrafilters = pp=hb:a/vb:a/dr:a/al:a/lb:a
audiorate = 
lavc_videobitrate = 1500
input = Television
norm = NTSC
lavc_videocodec = 0
scalewidth = 512
hue = 0
saturation = 0
videocodec = lavc
driver = 0
scaleheight = 384
extramencoderparms = 
lavc_audiobitrate = 128
device = /dev/video0
play_while_recording = False
extratvparms = 
ofps = 
alsa_audio = True
brightness = 0
quiet = True
tvheight = 
channel_type = number
adevice = hw.0
contrast = 0
chanlist = 0
append_suffix = True
lavc_audiocodec = 1
envvars = LD_PRELOAD=/usr/lib/libv4l/v4l2convert.so
lavc_audio_extra_opts = 
setenvvars = True
lame_extra_opts = 
xvid_bitrate = 2000
channel_text = 22
x264_bitrate = 789
xvid_interlacing = False
xvid_extra_opts = 
xvid_cartoon = False
lavc_video_extra_opts = 
xvid_fixed_quant = 444
x264_extra_opts = 
language = 
xvid_me_quality = 
x264_qp_constant = 
x264_qp = 456
x264_cbr = False
xvid_cbr = True
norm_int = 11
input_int = 0
x264_crf = 
extramplayerparms = -ao sdl